.main_activity_space {
    width: 73%;
    height: 100%;

    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no_chat_open_main {
    width: 500px;
    height: 600px;

    border-radius: 16px;
    border: 3px solid white;
    padding: 8px;

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no_chat_title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -2px;
}