.bg_general {
    width: 100%;
    height: 100%;
}

#bg_1 {
    background: rgba(173, 236, 171, 0.88);
}

#bg_2 {
    background: radial-gradient(circle at 95% 25%, rgba(232, 196, 78, 0.8) 5%, transparent 53.05%);
}

#bg_3 {
    background: radial-gradient(circle at 5% 90%, rgba(123, 226, 236, 0.9) 5%, transparent 68.05%);
}