.bg_general {
    width: 100%;
    height: 100%;
}

#bg_1 {
    background: #dfe4e8;
}

#bg_2 {
    background: radial-gradient(circle at 95% 15%, rgba(231, 202, 85, 0.4) 5%, transparent 48.05%);
}

#bg_3 {
    background: radial-gradient(circle at 5% 90%, rgba(123, 226, 236, 0.4) 5%, transparent 48.05%);
}