.chat_messages_container {
    width: 100%;
    height: calc(100% + 108px);

    margin: -108px 0 16px 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.message_container {
    width: 100%;
    height: fit-content;

    margin: 8px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.message_container.active {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.message_shape {
    width: fit-content;
    max-width: 35%;
    padding: 4px 8px 4px 8px;

    border-radius: 12px;
    background-color: var(--glass-background);
}

.message_shape.active {
    background-color: rgba(28, 104, 204, 0.63);
}

.message_content {
    margin: 0;
    font-size: 15px;
}