.chat_messages_container {
    width: 100%;
    height: calc(100% + 108px);

    margin: -108px 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.message_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: #0000ff50;
}