.chat_messages_container {
    width: 100%;
    height: 100%;

    padding: calc(124px + 8px) 0 calc(40px + 16px) 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow-y: auto;
}

.message_container {
    width: 100%;
    height: fit-content;

    padding: 4px 16px 4px 16px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.message_container.active {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

.message_shape {
    width: fit-content;
    max-width: 35%;
    padding: 8px 12px 8px 12px;

    border-radius: 12px;
    background-color: var(--glass-background);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(var(--login-backdrop));
    -webkit-backdrop-filter: blur(var(--login-backdrop));
    border: white 1px solid;
}

.message_shape.active {
    background-color: rgba(74, 200, 232, 0.53);
    border: rgba(28, 104, 204, 0.23) 1px solid;
}

.message_content {
    margin: 0;
    font-size: 15px;
    overflow-wrap: break-word;
}

.message_sender_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.message_sender_display_name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.message_sender_photo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 6px 0 0;
}

.message_metadata {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    margin: 8px 0 0 0;
}

.message_time {
    font-size: 10px;
    margin: 0 4px 0 0;
}

.message_status {
    height: 10px;
    width: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message_status_icon {
    width: 10px;
    height: 10px;
}

.message_side_container {
    height: 100%;
    width: 40px;

    margin: 0 8px 0 8px;

    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
}

.message_side_logged_user {
    align-items: end;
}

.message_side_button {
    width: 20px;
    height: 20px;
    background-color: var(--glass-background);
    transition: background-color 0.2s ease-in;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message_side_button:hover {
    background-color: var(--glass-background-hover);
    transition: background-color 0.2s ease-in;
}

.msg_btn_top {
    border-radius: 8px 8px 0 0;
}

.msg_btn_bottom {
    border-radius: 0 0 8px 8px;
}

.msg_btn_round {
    border-radius: 8px;
}

.msg_side_icon {
    width: 12px;
    height: 12px;
    margin: 0;
}

.message_container:hover .message_side_container {
    display: flex;
}

.message_deleted {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.message_deleted_icon {
    width: 16px;
    height: 16px;
}

.message_deleted_text {
    padding: 0;
    margin: 0 0 0 4px;

    font-size: 16px;
    font-style: italic;

    color: #696866;
}

.forwarded_icon {
    width: 10px;
    height: 10px;
    margin: 0 0 0 4px;
    filter: invert(0.3);
}

.reply_preview_container {
    width: 100%;
    max-height: 32px;

    background-color: rgba(135, 135, 135, 0.12);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) inset;
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));
    border-radius: 8px;

    padding: 4px 6px 4px 6px;
    margin: 2px 0 4px 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.reply_preview_content {
    width: 100%;
    height: 100%;

    font-size: 12px;
    font-style: italic;
    color: #525252;

    margin: 0 0 0 4px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.reply_icon {
    width: 12px;
    height: 12px;
    margin: 0;

    filter: invert(0.3);
}

.reactions_container {
    width: 100%;
    height: fit-content;

    margin: 8px 0 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    gap: 4px;
}