.chat_window {
    width: 100%;
    height: 100%;

    margin: 0 0 0 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typing_bar_container {
    margin: -48px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.type_bar {
    width: calc(100% - 80px - 16px);
    height: 40px;

    z-index: 10;

    padding: 4px 0 4px 12px;

    border-radius: 16px;
    border: white 3px solid;
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));
    background-color: var(--glass-background-strong);

    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.bar_button {
    width: 40px;
    height: 40px;

    z-index: 10;

    margin: 0 0 0 8px;

    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

#send_button {
    background-color: var(--button-unavailable-background);
}

#send_button:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: var(--button-unavailable-hover-background);
}

#send_button_available {
    background-color: var(--button-background);
}

#send_button_available:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: var(--button-hover-background);
}

#photo_button {
    background-color: var(--glass-background-strong);
}

#photo_button:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: var(--glass-background-hover);
}

.send_button_icon {
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
}

.photo_button_icon {
    width: 18px;
    height: 18px;
    filter: invert(1);
}

/* === CHAT TOP BAR === */

.chat_top_bar {
    width: 100%;
    min-height: 124px;
    z-index: 10;

    margin: -8px 0 0 0;
    padding: 0 16px 0 16px;

    border-radius: 0 0 12px 12px;

    background-color: var(--glass-background);
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat_top_info {
    width: 100%;
    height: 100%;

    margin: 0 0 0 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.chat_top_title {
    width: 100%;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1.5px;

    margin: 0;
}

.chat_top_paragraph {
    width: auto;
    height: 20px;

    font-size: 16px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.chat_top_name_desc {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.chat_top_image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1.5px solid white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.chat_top_main_info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.chat_top_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#addUserToGroup:hover {
    background-color: rgba(49, 135, 67, 0.5);
}

#leaveGroup:hover {
    background-color: rgba(227, 15, 15, 0.5);
}

#chat_top_desc {
    margin: 8px 0 0 0;
    color: #606060;
}

.scroll_container {
    height: calc(100% + 108px);
    z-index: 1;

    margin: -124px 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: visible;
    overflow-x: hidden;
    overflow-anchor: auto;
}

.reply_container {
    width: 500px;
    height: 24px;
    background-color: #3d84ead0;
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));
    z-index: 10;

    position: absolute;
    bottom: 0;
    margin: 0 0 40px 20px;

    border-radius: 8px 8px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.reply_text {
    width: calc(100% - 24px);
    height: 12px;
    margin: -4px 0 0 12px;
    font-size: 12px;
    text-overflow: ellipsis;
}

.reply_close {
    width: 24px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 0 8px 0 0;
}

.reply_close:hover {
    background-color: #176fedd0;
    backdrop-filter: blur(var(--backdrop));
    -webkit-backdrop-filter: blur(var(--backdrop));
}

.reply_close_img {
    width: 12px;
    height: 12px;
}