:root {
    --login-backdrop: 4.7px;
    --login-button-animation-duration: 0.1s;

    --bg-1-x: 10%;
    --bg-1-y: 30%;
    --bg-2-x: 95%;
    --bg-2-y: 60%;
    --bg-3-x: 70%;
    --bg-3-y: 90%;

    --progress-done-color: #05DF72;
}

#login_body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login_bg_1, #login_bg_2, #login_bg_3 {
    width: 100%;
    height: 100%;
}

#login_bg_1 {
    background: radial-gradient(circle at var(--bg-1-x) var(--bg-1-y), rgba(152, 211, 255, 0.7) 0%, rgba(250, 253, 255, 1) 100%, transparent 50%);
}

#login_bg_2 {
    background: radial-gradient(circle at var(--bg-2-x) var(--bg-2-y), rgba(245, 166, 199, 0.65) 5%, transparent 48.05%);
}

#login_bg_3 {
    background: radial-gradient(circle at var(--bg-3-x) var(--bg-3-y), rgba(255, 170, 138, 0.45) 5%, transparent 48.05%);
}

.fade {
    animation: fadeBG 0.5 linear;
}

#login_main_form {
    width: 450px;
    height: 400px;

    border-radius: 16px;
    border: 3px solid white;

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(var(--login-backdrop));
    -webkit-backdrop-filter: blur(var(--login-backdrop));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_title {
    font-weight: 400;
    font-size: 3.5em;
    margin-bottom: 125px;
    letter-spacing: -2.5px;
}

#login_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_register_input {
    height: 40px;
    width: 250px;

    padding: 8px;
    margin-right: 10px;

    text-align: center;
    font-size: 16px;

    background-color: #FFFFFFA0;
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
}

#login_button {
    height: 40px;
    width: 40px;

    background-color: #105FCC;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: background-color var(--login-button-animation-duration) ease-in;
}

#login_button:hover {
    background-color: #458CED;
    transition: background-color var(--login-button-animation-duration) ease-in;
}

#login_arrow {
    width: 20px;
}

/* === REGISTER === */

#register_main_form {
    width: 650px;
    height: 450px;

    border-radius: 16px;
    border: 3px solid white;

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(var(--login-backdrop));
    -webkit-backdrop-filter: blur(var(--login-backdrop));

    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: enlargeForm 0.4s ease-in-out;
    animation-fill-mode: forwards;
}

#register_title {
    font-weight: 400;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 250px;
    letter-spacing: -2.5px;

    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#register_description {
    font-size: 1.20em;
    line-height: 1.15em;
    text-align: center;

    opacity: 0;
    display: none;
}

b {
    margin: 0;
}

#new_display_form {
    width: 100%;
    margin-top: 80px;

    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_zone {
    margin-bottom: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skip_step {
    border: none;
    background-color: transparent;
    color: #0a53be;
}

@keyframes enlargeForm {
    from {
        width: 450px;
        height: 400px;
    }
    to {
        width: 650px;
        height: 450px;
    }
}

@keyframes showDisplayForm {
    from {
        opacity: 0;
        margin-top: 0;
    }
    to {
        opacity: 1;
        margin-top: 80px;
    }
}

/* === NEW BIO FORM === */

#new_bio_form {
    width: 100%;
    margin-top: 80px;

    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#set_new_bio_input {
    width: 400px !important;
}

/* === PROGRESS BAR === */

#progress_bars {
    width: 100%;
    height: 20px;

    z-index: 1;
    margin-top: 100px;
    margin-bottom: -50px;
    opacity: 0;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.progress {
    width: 30%;
    height: 10px;
    margin: 0 3px 10px 3px;

    border-radius: 5px;
    background-color: #C2C2C2;
}