:root {
    --login-backdrop: 4.7px;
}

#login_body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login_bg_1, #login_bg_2 {
    width: 100%;
    height: 100%;
}

#login_bg_1 {
    background: radial-gradient(circle at 10% 10%, rgba(176, 222, 255, 1) 0%, rgba(250, 253, 255, 1) 100%, transparent 50%);
}

#login_bg_2 {
    background: radial-gradient(circle at 90% 60%, rgba(255, 173, 208, 0.5) 5%, transparent 48.05%);
}

#login_main_form {
    width: 450px;
    height: 500px;

    border-radius: 16px;
    border: 3px solid white;

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(var(--login-backdrop));
    -webkit-backdrop-filter: blur(var(--login-backdrop));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_title {
    font-weight: 400;
    font-size: 2.2em;
    margin-bottom: 104px;
}

#login_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login_input {
    height: 40px;
    width: 220px;

    padding: 8px;
    margin-right: 10px;
    text-align: center;

    background-color: #FFFFFFA0;
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
}

#login_button {
    height: 40px;
    width: 40px;

    background-color: cyan;
    border: none;
    border-radius: 20px;
}