/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* All variables */
:root {
    --login-backdrop: 5px;
    --login-button-animation-duration: 0.1s;

    --bg-1-x: 10%;
    --bg-1-y: 30%;
    --bg-2-x: 95%;
    --bg-2-y: 60%;
    --bg-3-x: 70%;
    --bg-3-y: 90%;

    --progress-done-color: #05DF72;
    --progress-empty-color: #C2C2C2;

    --button-unavailable-background: #D6D3D1;
    --button-unavailable-hover-background: #E7E5E4;
    --button-background: #105FCC;
    --button-hover-background: #458CED;
    --login-form-background: #FFFFFFA0;
    --login-skip-step-color: #0A53BE;

    --button-secondary-background: #32B851;
    --button-hover-secondary-background: #299140;

    --glass-background: rgba(255, 255, 255, 0.42);
    --glass-background-hover: rgba(179, 187, 190, 0.42);
    --glass-background-strong: rgba(255, 255, 255, 0.80);

    --new-chat-dial-widget-background: #f3f4f6;

    --backdrop: 5px;
    --chat-photo-size: 65px;
    --color-selected: rgba(153, 217, 217, 0.42);

    --single-suggestion-width: 180px;
    --user-panel-height: 80px;
}


html, body, #app, main {
    height: 100%;
}

span, a, p {
	font-family: "DM Sans", serif;
}

span {
	font-weight: 700;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0 0 0 / 10%);
	border: solid rgba(0 0 0 / 15%);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0 0 0 / 10%), inset 0 0.125em 0.5em rgba(0 0 0 / 15%);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -0.125em;
	fill: currentcolor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.feather {
/*	width: 24px;
	height: 24px; */
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.main_view {
    width: 100%;
    height: 100%;

    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.separator_vertical {
    width: 1.5px;
    height: 80%;

    border-radius: 0.75px;

    background-color: dimgray;
    opacity: 0.3;
}

.text-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}